@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.btn-1{
    background: #01ffdf;
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
}
.btn-1:hover{
    color:white !important;
}
.btn-2{border-radius: 10px;
    padding: 10px 20px;
    color: #01ffdf;
    border: 1px solid #01ffdf;
}

.btn-2:hover{
    color: white;
    background: #01ffdf;
}

.container{
    width: 1100px;
    margin: auto;
    padding: 5px 0;
    display: flex;
}
.logo{
    width: 15%;
}
.logo img{width: 100%;}
.nav-bar{
    width: 85%;
}
.nav-bar ul{
    justify-content: flex-end;
    padding: 15px 0;
}
.nav-bar ul li a{
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    display: inline-block;
}
.nav-bar ul li a:hover{
    color: #0affbb;
    border-radius: 10px;
}

/*=================navbaer section=================*/


.hero{
    text-align: center;
}
.hero .link{justify-content: center;
    padding: 20px 0;
}
.hero img{
    width: 30%;
}
p{
    font-size: 14px;
    color: #4e4e4ea1;
}
h1{
    font-size: 30px;
    letter-spacing: 2px;
    padding: 13px 0;
    font-weight: 600;
}
h1 span{
    color: #01ffdf;
}


/*============about section============ */

.about{
    padding: 20px 0;
}
.about .col-2 p{
   padding: 10px 0;
}.about .col-2 p a{
  
color: #01ffdf;
}
.col-2{
    width: 50%;
    padding: 30px;
    margin: 20px;}
.col-2 img{
    max-width: 90%;
}
/*============about section============ */


/*============service-section============ */

.service-section{
    background: #b5b5b540;
}
.service-section .text{
    text-align: center;
    padding-top: 40px;
}
.service-section .container{
    flex-wrap: wrap;
    padding: 55px;
}
.service-section .container h2{
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 0;
}
.service-section .container p{
    line-height: 22px;
    padding: 5px 0 10px;
}
.col-3{
    width: 33.33%;
}
.col-3 img{
    width: 41px;
}

.col-3 a{color: #01ffdf;font-weight: 600;letter-spacing: 1px;text-transform: uppercase;}



/*==============meed-section==============*/
.meed-section{
    background: url(../images/meet.png);
    height: 49rem;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.meed-section h1{
    font-size: 25px;
}
.meed-section p{
    line-height: 21px;
    padding-bottom: 20px;
}
.meed-section a{
}
.info{
    padding-top: 22rem;
}


/*footer sectio*/
footer{
    display: flex;
    flex-wrap: wrap;
    padding: 55px;
    background: #000838;
}
footer a{}
.col-30{
    width: 33.33%;
}
.col-30 ul{
   
}
.col-30 li{
   
color: white;
}
.col-30 a{
   
color: white;
   
font-size: 15px;
}
.copyright{
    text-align: center;
    margin-top: -38px;
}
h6{
    color: white;
    font-weight: 400;
    letter-spacing: 3px;
}